---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>about</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
		<h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <p><span style="color: green">Hi!</span> My name is Phil!</p>
    <p>I am a Full Stack Software Engineer based out of New Jersey.</p>
    <p>I mainly work on the back-end of micro-services application using TypeScript, Moleculer.js, & GraphQL.</p>
	</body>
</html>
